doctype strict
html
	head
		title #{title}
	body
		if surveys
			#surveys
				each survey in surveys
					#survey
						p.name #{survey.id}
						p.name #{survey.name}
						p.owner #{survey.owner}
						p.maxResponses #{survey.maxResponses}
						br
		else
			p No surveys yet!
